In [2]:
print("Hello World")

Hello World

# Exploratory data analysis (EDA)

Aprendizado de maquina consistem em treinar modelos a partir de dados.
 Antes de usar os dados, precisamos inspecionar o que são: Se eles seguem premissas, se tem dados faltantes, se são númericos, se fazem sentido, etc

 Lembrando da máxima ´sh*i in, sh*i out'

 A tarefa de EDA é usar _estastiticas **descritivas**_ e gráficos para isso.

 Alguns exemplos são medidas de tendencia central ( média , moda) e dispersão (_boxplot_, histogramas), que descrevem os dados em um valor ou gráfico.

 ![](https://i0.wp.com/rumorscity.com/wp-content/uploads/2014/08/10-Best-VIM-Cheat-Sheet-01.jpg?ssl=1)

In [3]:
lista = [4,30,89,240,15,40028922] # yudi é um outlier (ponto fora da curva)

soma = 0
for item in lista:
    soma = soma + item

media = soma/len(lista)
media # estatitisca descritiva

6671550.0

In [5]:
# pip install numpy
import numpy as np

In [7]:
np.mean(lista) # media da lista

6671550.0

In [9]:
np.median(lista) # pega a mediana da lista

59.5

In [10]:
np.min(lista) # menor valor da lista

4

In [12]:
np.max(lista) # maior valor da lista

40028922

In [ ]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp39-cp39-win_amd64.whl (11.6 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\programdata\miniconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\programdata\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, pandas
Successfully installed pandas-2.2.1 pytz-2024.1 tzdata-2024.1

In [3]:
import pandas as pd

df = pd.read_csv("passwords.csv")

In [11]:
df.head(2) # cabeçalho
df.tail(8) # pega a calda

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size
499,500.0,passw0rd,password-related,92.27,years,29.02,502.0,28.0,21.0
500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.dropna() # joga fora dados faltantes
df.to_csv("passwords_clean.csv") # salva um csv novo

df_clean = df.dropna()

In [17]:
df.tail()

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size
495,496.0,reddog,cool-macho,3.72,days,0.00321,498.0,6.0,10.0
496,497.0,alexande,name,6.91,years,2.17000,499.0,9.0,12.0
497,498.0,college,nerdy-pop,3.19,months,0.08350,500.0,7.0,11.0
498,499.0,jester,name,3.72,days,0.00321,501.0,7.0,11.0
499,500.0,passw0rd,password-related,92.27,years,29.02000,502.0,28.0,21.0

In [25]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               500 non-null    float64
 1   password           500 non-null    object
 2   category           500 non-null    object
 3   value              500 non-null    float64
 4   time_unit          500 non-null    object
 5   offline_crack_sec  500 non-null    float64
 6   rank_alt           500 non-null    float64
 7   strength           500 non-null    float64
 8   font_size          500 non-null    float64
dtypes: float64(6), object(3)
memory usage: 39.1+ KB

In [30]:
df_clean[['offline_crack_sec', 'strength']]

     offline_crack_sec  strength
0         2.170000e+00       8.0
1         1.110000e-05       4.0
2         1.110000e-03       4.0
3         1.110000e-07       4.0
4         3.210000e-03       8.0
..                 ...       ...
495       3.210000e-03       6.0
496       2.170000e+00       9.0
497       8.350000e-02       7.0
498       3.210000e-03       7.0
499       2.902000e+01      28.0

[500 rows x 2 columns]

In [40]:
import numpy as np

np.mean(df_clean["offline_crack_sec"])

0.500009642982

In [42]:
df_clean.describe()

,rank,value,offline_crack_sec,rank_alt,strength,font_size
count,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.000000
mean,250.500000,5.602660,5.000096e-01,251.224000,7.432000,10.298000
std,144.481833,8.436005,2.658132e+00,145.052163,5.415536,3.651282
min,1.000000,1.290000,1.110000e-07,1.000000,0.000000,0.000000
25%,125.750000,3.430000,3.210000e-03,125.750000,6.000000,10.000000
50%,250.500000,3.720000,3.210000e-03,251.500000,7.000000,11.000000
75%,375.250000,3.720000,8.350000e-02,376.250000,8.000000,11.000000
max,500.000000,92.270000,2.927000e+01,502.000000,48.000000,28.000000

## Pipline de ML

1. Instalar/importar bibliotecas
2. carregar dados tabulares
3. limpar dados faltantes
4. ver informações da coluna (df.info())
5. ver estatisticas descritivas (df.describe())
6. fazer gráficos
7. interpretar as estatisticas e graficos
8. fica pros proximos capitulos